html {
    background-image: url(../imgs/despedida.jpg);
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.5);
}

h1, h2, h3 {
    font-family: 'Allura', cursive;
}

h1 {
    background-color: lightgray;
    font-size: 3em;
    padding: 0.25em;
    text-align: center;
    font-weight: bold;
    transform: rotateZ(2deg);
    text-shadow: 5px 5px 10px #777777;
}

main {
    padding: 1em;
}

#logo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
}

#menu-principal {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 5px 5px 10px #777777;
}

#menu-principal li {
    list-style: none;
    display: inline-block;
}

#menu-principal ul {
    padding-left: 1em;
    background-color: black;
}

#menu-principal a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 5px;
}

#menu-principal a:hover {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

section > h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0.25em;
}

article {
    border: 1px solid black;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    
    box-shadow: 5px 5px 10px #777777;
    background-color: rgba(255, 255, 255, 0.8);
}

article h2, article h3 {
    font-size: 2em;
}

article h2 {
    /*font-variant: small-caps;*/
    margin-bottom: 0.25em;
}

article h3 {
    font-style: italic;
    margin-bottom: 0.5em;
}

section {
    line-height: 1.5em;
}

p {
    margin-bottom: 1em;
    text-indent: 1em;
}

p::first-letter {
    font-size: 2em;
    font-family: serif;
}

main h2:before {
    content: "<<";
    background-color: lightgray;
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 2em;
}

main h2:after {
    content: ">>";
}

